@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    @apply font-sans;
  }
  h2 {
    @apply text-2xl;
    @apply font-sans;
  }
  h3 {
    @apply text-xl;
    @apply font-sans;
  }
}

